* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;


}

#page-wrapper {
    position: relative;
    width: 100%;
    height: 1000px;
    background: linear-gradient(134deg, rgb(151, 136, 151), rgb(44, 44, 52) );
}

.logo {
    max-width: 50px;
    height: auto;
    margin: 0 15px;
}
.logo img {
    width: 100%;
    height: 100%;
}

#navbar {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 15px;
}

#link, #submit {
    margin: 0 10px;
    padding: 5px;
    background: none;
    border-radius: 5px;
    color: black;
}

#link:hover, #submit:hover{
    color: white;
}

#hero {
    background-color: green;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;

}

#hero h2 {
    padding: 10px
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 15px;
    padding: 0 10px
}
#submit {
    background: linear-gradient(90deg, rgb(216, 216, 246), rgb(177, 143, 207))
}

#features {
    background-color: aqua;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8
}

#features .icon {
    display: flex;
    align-items: center;
    width: 20vw;
    height: 125px;
    justify-content: center;
    color: darkorange;
}


@media (max-width: 550px) {
    #features .icon {
        display:none;
    }
}
.grid {
    display: flex;
    justify-content: space-between ;
}

