* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    background: rgb(83, 83, 83)
}

#page-wrapper {
    width: 100%;
    background-color: white;
}

.logo {
    max-width: 50px;
    height: auto;
    margin: 0 15px;
}
.logo img {
    width: 100%;
    height: 100%;
}

#nav-bar {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 15px
}

#submit {
    margin: 0 10px;
    padding: 5px;
    background: none;
    border-radius: 5px;
    color: black;
}

li {
    display: flex;
    align-items: stretch;
    height: 100%;
    background-color: aliceblue;
    padding: 10px
}

a {
    text-decoration: none;
    color: black
}

#link:hover, #submit:hover{
    color: white;
}

#email {
    padding: 5px
}

#hero {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

#hero h2 {
    padding: 10px
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 15px;
    padding: 0 10px
}
#submit {
    background: white;
    box-shadow: 2px 2px 10px;
}

#features {
    display: flex;
    flex-direction: column;
    opacity: 0.8
}

#features .icon {
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    justify-content: center;
    color: mediumseagreen;
    padding: 10px;
}

.desc {
    display: flex;
    width: 80%;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#video-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


@media (max-width: 550px) {
    #features .icon {
        display:none;
    }
}

.grid {
    display: flex
}

#footer {
    display:flex;
    background-color: rgb(83, 83, 83);;
    color: black;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 50px;
}

