html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    background: linear-gradient(125deg, lightgray, lightblue)
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125;
    margin: 3px 0 0 0;
}

fieldset {
    max-width: 400px;
    background: linear-gradient(35deg, pink, lightblue);
    border-radius: 5px;
}

#form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1.25rem auto;
}

.input-checkbox, #radio {
    margin: 0 5px 0 0;
}

p {
    margin: 0;
}

#submit {
    background-color: rgb(71, 201, 112);
    color: white;
    height: 2rem;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
}

input, button, textarea {
    margin: 0;
    font-size: 1rem;
    border-radius: 3px;
    height: 1.4rem;
}
.form-control {
    margin: 8px 0 0 0;
    color: rgb(40, 40, 40);
}

select {
    font-size: 1rem;
    height: 1.7rem;
    border-radius: 3px;
}

#input-textarea {
    min-height: 120px;
}

.text-center {
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3.125rem auto 0 auto;
}
